<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ui-automation-bootstrap" verbose="2">
    <listeners>
        <listener class-name="utils.listeners.ExtentReportListener"/>
    </listeners>
    <test name="Example">
        <packages>
            <package name="tests.*"/>
        </packages>
    </test>
</suite>
